# Lab 4 - Combining Dataframes

## NFL Offense Data

In [82]:
import pandas as pd
from glob import glob

In [83]:
df_week3 = pd.read_csv('nfloffenseweek3.csv')
df_week4 = pd.read_csv('nfloffenseweek4.csv')
df_week5 = pd.read_csv('nfloffenseweek5.csv')

1. Import the NFL week 3,4, and 5 data and add a week column to dataset and set the value to 3,4, or 5 for all rows from that week.

In [84]:
df_week3.insert(loc=2,column='week',value=3)
df_week4.insert(loc=2, column='week',value=4)
df_week5.insert(loc=2,column='week',value=5)

In [85]:
week_files = [df_week3, df_week4, df_week5]
answer = pd.concat(week_files)
answer

,rank,team,week,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Baltimore Ravens,3,3,99,1141,166,6.9,3,1,...,406,2,5.6,18,8,44,5,42.9,8.6,35.63
1,2,Detroit Lions,3,3,95,1227,203,6.0,2,0,...,511,5,5.9,20,15,129,5,40.5,5.4,31.05
2,3,Buffalo Bills,3,3,91,1324,213,6.2,5,3,...,337,1,4.7,22,20,136,6,46.7,16.7,47.46
3,4,Kansas City Chiefs,3,3,88,1122,180,6.2,3,2,...,279,2,4.1,15,15,124,8,45.2,6.5,40.73
4,5,Philadelphia Eagles,3,3,86,1341,208,6.4,1,0,...,451,6,4.4,26,23,173,6,39.4,3.0,45.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,Chicago Bears,5,5,86,1370,266,5.2,8,4,...,787,5,4.9,38,27,211,9,36.5,13.5,-5.91
28,29,Los Angeles Rams,5,5,80,1499,312,4.8,12,5,...,312,3,3.2,19,17,156,8,31.4,23.5,-19.19
29,30,Pittsburgh Steelers,5,5,77,1479,306,4.8,9,3,...,443,4,3.9,27,30,213,6,26.3,12.3,-25.01
30,31,Denver Broncos,5,5,75,1718,318,5.4,6,3,...,563,2,4.3,26,44,335,8,29.3,10.3,-18.28
31,32,Indianapolis Colts,5,5,69,1665,343,4.9,11,4,...,457,1,3.6,26,31,267,6,26.3,19.3,-33.65

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [86]:
dataframe2 = pd.concat([df_week3,df_week4,df_week5], axis=1)
dataframe2

,rank,team,week,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Baltimore Ravens,3,3,99,1141,166,6.9,3,1,...,571,4,4.5,30,24,228,14,50.0,5.8,72.06
1,2,Detroit Lions,3,3,95,1227,203,6.0,2,0,...,582,3,5.1,33,29,195,9,47.2,17.0,70.22
2,3,Buffalo Bills,3,3,91,1324,213,6.2,5,3,...,757,7,5.4,32,30,270,9,37.9,10.3,31.13
3,4,Kansas City Chiefs,3,3,88,1122,180,6.2,3,2,...,723,3,5.4,44,23,162,9,43.6,10.9,36.86
4,5,Philadelphia Eagles,3,3,86,1341,208,6.4,1,0,...,800,12,4.3,52,29,223,9,40.7,3.7,55.51
5,6,Cleveland Browns,3,3,85,1136,210,5.4,1,0,...,962,10,5.3,57,32,249,8,45.1,7.8,57.31
6,7,Jacksonville Jaguars,3,3,84,1127,204,5.5,1,0,...,610,4,5.5,30,44,391,11,44.7,10.6,47.51
7,8,Miami Dolphins,3,3,83,1066,167,6.4,2,0,...,607,3,5.3,35,34,247,8,53.1,10.2,34.91
8,9,Atlanta Falcons,3,3,80,1063,181,5.9,7,4,...,496,4,3.9,26,25,178,9,40.0,5.5,33.03
9,10,Cincinnati Bengals,3,3,64,1016,227,4.5,6,2,...,823,7,5.1,46,22,169,14,40.4,15.4,34.67
10,11,Las Vegas Raiders,3,3,64,1040,182,5.7,5,1,...,485,6,4.1,23,30,362,12,35.6,15.3,1.07
11,12,Washington Commanders,3,3,63,1026,216,4.8,5,2,...,509,6,4.2,32,23,165,12,39.6,11.3,41.57
12,13,Arizona Cardinals,3,3,62,1060,222,4.8,1,0,...,681,7,5.0,37,40,376,8,30.6,19.4,4.05
13,14,Carolina Panthers,3,3,62,829,163,5.1,3,2,...,414,4,3.9,23,33,234,12,38.0,12.0,39.86
14,15,Los Angeles Rams,3,3,61,919,175,5.3,7,2,...,577,3,4.2,29,28,205,9,37.0,14.8,15.30
15,16,Minnesota Vikings,3,3,58,1032,187,5.5,4,1,...,694,6,4.6,38,33,240,9,30.9,10.9,14.83
16,17,Los Angeles Chargers,3,3,58,1068,197,5.4,3,1,...,459,2,3.3,25,26,186,14,36.8,12.3,9.59
17,18,New York Giants,3,3,56,995,195,5.1,3,1,...,572,5,4.3,40,32,295,6,36.0,6.0,21.28
18,19,Pittsburgh Steelers,3,3,54,818,174,4.7,3,2,...,690,5,4.6,40,26,207,7,35.3,19.6,9.44
19,20,New York Jets,3,3,52,1110,222,5.0,7,4,...,895,7,5.4,51,37,282,13,39.6,7.5,22.41
20,21,Chicago Bears,3,3,52,795,159,5.0,4,0,...,330,2,3.1,20,30,251,11,35.7,8.9,9.66
21,22,Tampa Bay Buccaneers,3,3,51,892,186,4.8,4,3,...,674,3,5.0,39,24,177,7,30.9,12.7,21.74
22,23,New Orleans Saints,3,3,51,1119,187,6.0,9,4,...,514,6,3.7,26,37,331,11,29.6,7.4,2.64
23,24,Tennessee Titans,3,3,51,907,168,5.4,6,3,...,579,3,4.2,28,32,250,7,35.1,3.5,-6.79
24,25,New England Patriots,3,3,50,1094,183,6.0,8,3,...,449,3,4.4,26,28,283,8,32.1,10.7,-38.48
25,26,Houston Texans,3,3,49,862,184,4.7,3,1,...,445,2,3.9,28,32,335,10,22.2,12.7,-15.35
26,27,Green Bay Packers,3,3,48,1067,188,5.7,5,3,...,496,3,4.3,26,30,251,13,31.0,8.6,-14.95
27,28,Seattle Seahawks,3,3,47,889,165,5.4,5,2,...,787,5,4.9,38,27,211,9,36.5,13.5,-5.91
28,29,San Francisco 49ers,3,3,47,971,189,5.1,5,3,...,312,3,3.2,19,17,156,8,31.4,23.5,-19.19
29,30,Dallas Cowboys,3,3,46,972,184,5.3,2,1,...,443,4,3.9,27,30,213,6,26.3,12.3,-25.01
30,31,Denver Broncos,3,3,43,1044,199,5.2,3,2,...,563,2,4.3,26,44,335,8,29.3,10.3,-18.28
31,32,Indianapolis Colts,3,3,40,994,207,4.8,6,2,...,457,1,3.6,26,31,267,6,26.3,19.3,-33.65

3. Which week had the most points scored and which had the least? find the mean and median of each weeks points

## World Population Data

In [ ]:
height_weight = pd.read_csv("height_weight_data.csv")
iq_data = pd.read_csv("iq.csv")
pop = pd.read_csv("population_density.csv")
life_expec = pd.read_csv("life_expectancy.csv")
qual_life = pd.read_csv("quality_of_life.csv")

4. Join the height and weight data to the iq data.

In [ ]:
pd.merge(height_weight, iq_data, how='left')

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102.0,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84.0,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99.0,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99.0,"3,127",12.5
4,Bosnia and Herzegovina,182,167,87.1,70.6,26.4,25.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
121,Nepal,164,152,60.5,51.6,22.5,22.3,77.0,10,24.8
122,Guatemala,164,151,69.1,61.9,25.7,27.3,NaN,NaN,NaN
123,Yemen,163,154,62.5,56.9,23.6,24.0,NaN,NaN,NaN
124,Laos,162,153,59.5,53.7,22.6,23.0,NaN,NaN,NaN
125,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60.0,30,30.9

5. Join the population density to quality of life data.

In [ ]:
pd.merge(pop, qual_life, how='left')

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Macao,30.0,0.66 M,21657.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monaco,2.0,0.04 M,19564.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Singapore,719.0,5.45 M,7584.9,83.0,89.0,79.0,100.0,45.0,55.0,42.0
3,Hong Kong,1110.0,7.41 M,6678.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gibraltar,6.8,0.03 M,4954.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
86,Finland,338450.0,5.54 M,16.4,85.0,100.0,87.0,93.0,17.0,46.0,32.0
87,Norway,385203.0,5.41 M,14.0,89.0,99.0,90.0,99.0,17.0,42.0,37.0
88,Russia,17098250.0,143.45 M,8.4,47.0,26.0,74.0,75.0,33.0,62.0,43.0
89,Canada,9984670.0,38.25 M,3.8,85.0,92.0,78.0,97.0,33.0,37.0,45.0
90,Australia,7741220.0,25.74 M,3.3,86.0,92.0,87.0,100.0,90.0,23.0,41.0

6. Join the life expectancy to quality of life data.

In [ ]:
pd.merge(life_expec, qual_life, how='left')

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77.0,85.0,100.0,97.0,49.0,61.0,52.0
1,Iceland,81.7,84.5,12.3,7.8,82.0,92.0,87.0,97.0,7.0,36.0,33.0
2,Japan,81.6,87.7,6.8,8.8,87.0,86.0,92.0,97.0,54.0,27.0,41.0
3,Norway,81.6,84.9,9.8,9.8,89.0,99.0,90.0,99.0,17.0,42.0,37.0
4,Singapore,81.5,86.1,8.5,10.8,83.0,89.0,79.0,100.0,45.0,55.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...
110,Ivory Coast,56.9,59.5,35.2,9.7,47.0,36.0,11.0,58.0,53.0,57.0,37.0
111,Somalia,56.0,59.4,41.4,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Nigeria,54.1,56.0,37.0,11.4,18.0,24.0,12.0,23.0,54.0,57.0,39.0
113,Chad,53.1,55.9,41.2,11.7,46.0,12.0,0.0,31.0,50.0,49.0,44.0
114,Central Africa,51.5,55.9,34.9,11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [105]:
#all_merged = pd.merge(pd.merge(iq_data,life_expec,on ='country'),qual_life, on='country')
#all_merged

all_merged = iq_data.merge(life_expec,on='country').merge(qual_life,on='country').merge(pop,on='country')
all_merged

,country,iq,education_expenditure_per_inhabitant,daily_max_temp,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity,area,population,pop_per_km_sq
0,Singapore,108,908,31.5,81.5,86.1,8.5,10.8,83,89,79,100,45,55,42,719.0,5.45 M,7584.9
1,South Korea,106,537,18.2,80.5,86.5,5.3,5.9,81,75,92,95,56,42,41,100339.0,51.74 M,515.7
2,Japan,105,"1,258",19.2,81.6,87.7,6.8,8.8,87,86,92,97,54,27,41,377970.0,125.68 M,332.5
3,China,104,27,19.0,75.0,79.4,8.5,7.1,69,37,67,90,54,38,73,9562910.0,"1,412.36 M",147.7
4,Switzerland,102,"2,539",15.1,81.1,85.2,9.9,8.8,91,99,93,99,34,44,40,41290.0,8.70 M,210.6
5,Netherlands,102,"1,701",14.4,79.8,83.1,9.7,9.7,84,98,83,96,21,40,36,41543.0,17.53 M,422.1
6,Finland,101,"1,990",8.2,79.4,85.0,8.4,10.0,85,100,87,93,17,46,32,338450.0,5.54 M,16.4
7,Canada,101,"1,661",7.3,79.7,83.9,9.4,8.1,85,92,78,97,33,37,45,9984670.0,38.25 M,3.8
8,Belgium,100,"1,676",14.8,78.6,83.1,9.9,11.0,75,87,88,92,20,32,40,30530.0,11.59 M,379.6
9,Germany,100,"1,385",13.7,78.6,83.4,9.3,11.9,82,94,96,95,21,44,42,357580.0,83.13 M,232.5
10,United Kingdom,100,"1,455",12.9,79.0,82.9,10.2,10.4,76,91,78,95,6,34,44,243610.0,67.33 M,276.4
11,New Zealand,100,"1,283",17.3,80.3,83.9,11.3,6.4,91,100,81,95,36,26,37,267710.0,5.12 M,19.1
12,Norway,99,"3,527",9.0,81.6,84.9,9.8,9.8,89,99,90,99,17,42,37,385203.0,5.41 M,14.0
13,Sweden,99,"2,359",9.9,80.7,84.2,10.9,9.5,87,99,85,96,20,40,37,447430.0,10.42 M,23.3
14,Luxembourg,99,"2,310",14.6,79.4,84.2,10.2,7.3,93,99,85,100,25,46,42,2590.0,0.64 M,246.7
15,Denmark,99,"3,127",12.5,79.6,83.6,10.4,9.4,86,100,85,95,17,35,41,42920.0,5.86 M,136.5
16,Australia,99,"1,390",24.4,81.2,85.3,11.5,6.3,86,92,87,100,90,23,41,7741220.0,25.74 M,3.3
17,France,98,"1,609",16.8,79.2,85.3,10.9,9.9,72,83,91,93,41,29,71,549087.0,67.50 M,122.9
18,United States,98,"1,904",18.8,74.5,80.2,10.9,10.3,63,81,71,85,66,37,71,9831510.0,331.89 M,33.8
19,Malta,97,619,23.1,80.8,84.6,8.6,7.9,86,72,91,92,75,41,44,320.0,0.52 M,1615.2
20,Italy,97,"1,175",17.8,80.1,84.7,6.8,12.6,65,65,87,89,57,30,59,301340.0,59.07 M,196.0
21,Spain,97,885,21.0,79.7,85.1,7.1,10.4,64,73,87,95,74,43,68,505935.0,47.33 M,93.5
22,Poland,97,298,13.4,72.6,80.8,9.4,12.6,69,67,79,93,27,58,52,312680.0,37.78 M,120.8
23,Russia,96,157,9.5,66.5,76.4,9.8,14.6,47,26,74,75,33,62,43,17098250.0,143.45 M,8.4
24,Ukraine,95,85,14.3,66.4,76.2,7.8,15.9,42,36,71,82,33,60,39,603550.0,43.81 M,72.6
25,Portugal,95,725,21.3,78.0,84.1,8.2,12.0,80,77,82,93,68,44,38,92226.0,10.30 M,111.7
26,Ireland,94,"1,635",13.2,80.4,84.1,11.2,6.4,84,90,82,96,2,35,36,70280.0,5.03 M,71.5
27,Vietnam,94,26,28.8,71.4,79.6,16.1,6.4,67,35,54,76,52,51,34,331230.0,98.17 M,296.4
28,Israel,94,"1,226",25.4,80.7,84.8,19.2,5.3,57,72,84,81,81,36,30,22070.0,9.36 M,424.3
29,Malaysia,93,273,32.1,74.4,78.5,16.4,5.3,70,58,61,91,44,46,44,330345.0,32.78 M,99.2
30,Greece,92,541,22.3,78.6,83.7,7.9,12.2,60,61,89,88,70,44,45,131960.0,10.66 M,80.8
31,Argentina,90,278,23.9,73.4,80.1,16.6,7.6,41,44,79,78,78,41,34,2780400.0,45.81 M,16.5
32,Romania,90,120,16.0,70.5,78.4,9.2,15.4,64,57,73,88,37,68,24,238400.0,19.12 M,80.2
33,Turkey,89,141,20.4,75.0,80.8,15.5,5.5,31,38,64,87,62,59,50,785350.0,85.04 M,108.3
34,Thailand,89,108,33.0,73.7,81.1,10.0,7.9,61,40,65,96,46,55,42,513120.0,69.95 M,136.3
35,Cambodia,88,7,32.5,67.7,72.2,21.6,6.0,56,19,28,68,52,66,35,181040.0,16.95 M,93.6
36,Philippines,86,38,31.9,67.4,75.6,19.9,6.0,52,39,45,67,49,46,35,300000.0,111.05 M,370.2
37,Mexico,86,279,29.8,72.3,77.9,17.0,6.2,46,37,54,52,82,34,53,1964375.0,130.26 M,66.3
38,Iran,84,120,26.5,75.8,78.1,17.9,4.8,19,15,60,79,58,43,41,1745150.0,85.03 M,48.7
39,Indonesia,84,29,31.6,69.8,74.2,17.4,6.6,61,44,39,98,40,54,39,1913580.0,276.36 M,144.4
40,Egypt,83,58,30.0,69.9,74.5,25.1,5.7,36,26,44,83,67,59,45,1001450.0,104.26 M,104.1
41,Ecuador,83,68,24.3,74.5,80.0,19.2,5.1,61,36,60,88,57,61,25,256370.0,17.89 M,69.8
42,Brazil,83,223,30.7,72.5,79.7,13.5,6.6,37,45,63,60,65,44,32,8515770.0,213.99 M,25.1
43,United Arab Emirates,83,378,34.4,77.4,79.5,10.1,1.6,82,65,65,93,62,67,28,83600.0,9.99 M,119.5
44,Bahrain,83,401,32.6,76.6,78.6,13.3,2.4,59,45,61,92,63,72,29,778.0,1.75 M,2247.2
45,Pakistan,82,16,30.9,66.5,68.5,27.4,6.8,24,26,31,92,72,63,40,796100.0,225.20 M,282.9
46,India,81,22,31.7,68.7,71.2,17.4,7.3,48,46,35,79,62,45,49,3287259.0,"1,393.41 M",423.9
47,Saudi Arabia,81,700,32.5,74.1,76.9,16.8,3.5,53,45,61,90,52,76,44,2149690.0,35.34 M,16.4
48,Afghanistan,80,13,24.4,63.7,66.7,31.2,6.2,28,9,20,19,64,63,63,652860.0,39.84 M,61.0
49,Sri Lanka,79,30,29.7,73.8,80.4,15.3,6.9,52,43,62,92,57,56,33,65610.0,22.16 M,337.7
50,Qatar,78,"1,574",33.7,79.3,82.1,9.2,1.3,77,60,62,94,61,70,38,11610.0,2.93 M,252.4
51,Bangladesh,77,9,29.8,71.1,74.9,17.5,5.5,43,26,44,74,50,61,33,147630.0,166.30 M,1126.5
52,South Africa,70,247,24.7,61.0,67.9,19.8,9.4,47,54,31,43,95,49,40,1219090.0,60.04 M,49.3
53,Nigeria,70,NaN,33.7,54.1,56.0,37.0,11.4,18,24,12,23,54,57,39,923770.0,211.40 M,228.8
54,Cameroon,65,29,31.0,58.4,60.9,34.4,8.9,40,19,9,27,60,51,34,475440.0,27.22 M,57.3

8. What is the average quality of life for each country?

9. Find the country with the highest population and then find the average quality of life.

10. Make up 1 interesting question about one of these datasets and answer it.