# Lab 4 - Combining Dataframes

## NFL Offense Data

In [26]:
import pandas as pd
from glob import glob

In [25]:
df_week3 = pd.read_csv('nfloffenseweek3.csv')
df_week4 = pd.read_csv('nfloffenseweek4.csv')
df_week5 = pd.read_csv('nfloffenseweek5.csv')

1. Import the NFL week 3,4, and 5 data and add a week column to dataset and set the value to 3,4, or 5 for all rows from that week.

In [28]:
week_files = sorted(glob('nfloffenseweek*.csv'))
week_files

['nfloffenseweek3.csv', 'nfloffenseweek4.csv', 'nfloffenseweek5.csv']

In [34]:
answer = pd.DataFrame(pd.concat((pd.read_csv(file) for file in week_files), ignore_index=True))
answer

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,406,2,5.6,18,8,44,5,42.9,8.6,35.63
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,511,5,5.9,20,15,129,5,40.5,5.4,31.05
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,337,1,4.7,22,20,136,6,46.7,16.7,47.46
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,279,2,4.1,15,15,124,8,45.2,6.5,40.73
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,451,6,4.4,26,23,173,6,39.4,3.0,45.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,28,Chicago Bears,5,86,1370,266,5.2,8,4,73,...,787,5,4.9,38,27,211,9,36.5,13.5,-5.91
92,29,Los Angeles Rams,5,80,1499,312,4.8,12,5,93,...,312,3,3.2,19,17,156,8,31.4,23.5,-19.19
93,30,Pittsburgh Steelers,5,77,1479,306,4.8,9,3,92,...,443,4,3.9,27,30,213,6,26.3,12.3,-25.01
94,31,Denver Broncos,5,75,1718,318,5.4,6,3,84,...,563,2,4.3,26,44,335,8,29.3,10.3,-18.28
95,32,Indianapolis Colts,5,69,1665,343,4.9,11,4,101,...,457,1,3.6,26,31,267,6,26.3,19.3,-33.65

2. Combine the weekly dataframes by adding the dataframes together row-wise.

3. Make up 1 interesting question about this dataset. Answer it.

Possible Question:
What do all the winning teams have in common. (see if there is a corrrelation in a certain column that lead a team to victory that week)

## World Population Data

In [15]:
height_weight = pd.read_csv("height_weight_data.csv")
iq_data = pd.read_csv("iq.csv")
pop = pd.read_csv("population_density.csv")
life_expec = pd.read_csv("life_expectancy.csv")
qual_life = pd.read_csv("quality_of_life.csv")

4. Join the height and weight data to the iq data.

In [13]:
pd.merge(height_weight, iq_data, how='left')

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102.0,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84.0,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99.0,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99.0,"3,127",12.5
4,Bosnia and Herzegovina,182,167,87.1,70.6,26.4,25.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
121,Nepal,164,152,60.5,51.6,22.5,22.3,77.0,10,24.8
122,Guatemala,164,151,69.1,61.9,25.7,27.3,NaN,NaN,NaN
123,Yemen,163,154,62.5,56.9,23.6,24.0,NaN,NaN,NaN
124,Laos,162,153,59.5,53.7,22.6,23.0,NaN,NaN,NaN
125,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60.0,30,30.9

5. Join the population density to quality of life data.

In [16]:
pd.merge(pop, qual_life, how='left')

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Macao,30.0,0.66 M,21657.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monaco,2.0,0.04 M,19564.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Singapore,719.0,5.45 M,7584.9,83.0,89.0,79.0,100.0,45.0,55.0,42.0
3,Hong Kong,1110.0,7.41 M,6678.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gibraltar,6.8,0.03 M,4954.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
86,Finland,338450.0,5.54 M,16.4,85.0,100.0,87.0,93.0,17.0,46.0,32.0
87,Norway,385203.0,5.41 M,14.0,89.0,99.0,90.0,99.0,17.0,42.0,37.0
88,Russia,17098250.0,143.45 M,8.4,47.0,26.0,74.0,75.0,33.0,62.0,43.0
89,Canada,9984670.0,38.25 M,3.8,85.0,92.0,78.0,97.0,33.0,37.0,45.0
90,Australia,7741220.0,25.74 M,3.3,86.0,92.0,87.0,100.0,90.0,23.0,41.0

6. Join the life expectancy to quality of life data.

In [18]:
pd.merge(life_expec, qual_life, how='left')

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77.0,85.0,100.0,97.0,49.0,61.0,52.0
1,Iceland,81.7,84.5,12.3,7.8,82.0,92.0,87.0,97.0,7.0,36.0,33.0
2,Japan,81.6,87.7,6.8,8.8,87.0,86.0,92.0,97.0,54.0,27.0,41.0
3,Norway,81.6,84.9,9.8,9.8,89.0,99.0,90.0,99.0,17.0,42.0,37.0
4,Singapore,81.5,86.1,8.5,10.8,83.0,89.0,79.0,100.0,45.0,55.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...
110,Ivory Coast,56.9,59.5,35.2,9.7,47.0,36.0,11.0,58.0,53.0,57.0,37.0
111,Somalia,56.0,59.4,41.4,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Nigeria,54.1,56.0,37.0,11.4,18.0,24.0,12.0,23.0,54.0,57.0,39.0
113,Chad,53.1,55.9,41.2,11.7,46.0,12.0,0.0,31.0,50.0,49.0,44.0
114,Central Africa,51.5,55.9,34.9,11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [24]:
pd.merge([iq_data, life_expec, qual_life, pop])

TypeError: merge() missing 1 required positional argument: 'right'

8. Make up 1 interesting question about one of these datasets and answer it.

Possible question:
How quality of life and IQ interact. If you have a higher IQ will you have a better quality of life.

9. Make up 1 interesting question about one of these datasets and answer it.

Possible Question:
How do life expectancy and population density effect each other (Is the population effected by life expectancy)

10. Make up 1 interesting question about one of these datasets and answer it.

Possible Question:
Quality of life and life expectancy (if its categorized by men and women)