# Lab 4 - Combining Dataframes

## NFL Offense Data

In [26]:
import pandas as pd
from glob import glob

In [63]:
df_week3 = pd.read_csv('nfloffenseweek3.csv')
df_week4 = pd.read_csv('nfloffenseweek4.csv')
df_week5 = pd.read_csv('nfloffenseweek5.csv')

1. Import the NFL week 3,4, and 5 data and add a week column to dataset and set the value to 3,4, or 5 for all rows from that week.

In [64]:
df_week3.insert(loc=2,column='week',value=3)
df_week4.insert(loc=2, column='week',value=4)
df_week5.insert(loc=2,column='week',value=5)

In [71]:
week_files = [df_week3, df_week4, df_week5]
answer = pd.concat(week_files)
answer

,rank,team,week,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Baltimore Ravens,3,3,99,1141,166,6.9,3,1,...,406,2,5.6,18,8,44,5,42.9,8.6,35.63
1,2,Detroit Lions,3,3,95,1227,203,6.0,2,0,...,511,5,5.9,20,15,129,5,40.5,5.4,31.05
2,3,Buffalo Bills,3,3,91,1324,213,6.2,5,3,...,337,1,4.7,22,20,136,6,46.7,16.7,47.46
3,4,Kansas City Chiefs,3,3,88,1122,180,6.2,3,2,...,279,2,4.1,15,15,124,8,45.2,6.5,40.73
4,5,Philadelphia Eagles,3,3,86,1341,208,6.4,1,0,...,451,6,4.4,26,23,173,6,39.4,3.0,45.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,Chicago Bears,5,5,86,1370,266,5.2,8,4,...,787,5,4.9,38,27,211,9,36.5,13.5,-5.91
28,29,Los Angeles Rams,5,5,80,1499,312,4.8,12,5,...,312,3,3.2,19,17,156,8,31.4,23.5,-19.19
29,30,Pittsburgh Steelers,5,5,77,1479,306,4.8,9,3,...,443,4,3.9,27,30,213,6,26.3,12.3,-25.01
30,31,Denver Broncos,5,5,75,1718,318,5.4,6,3,...,563,2,4.3,26,44,335,8,29.3,10.3,-18.28
31,32,Indianapolis Colts,5,5,69,1665,343,4.9,11,4,...,457,1,3.6,26,31,267,6,26.3,19.3,-33.65

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [43]:
dataframe2 = pd.concat([df_week3,df_week4,df_week5], axis=1)
dataframe2

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,571,4,4.5,30,24,228,14,50.0,5.8,72.06
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,582,3,5.1,33,29,195,9,47.2,17.0,70.22
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,757,7,5.4,32,30,270,9,37.9,10.3,31.13
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,723,3,5.4,44,23,162,9,43.6,10.9,36.86
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,800,12,4.3,52,29,223,9,40.7,3.7,55.51
5,6,Cleveland Browns,3,85,1136,210,5.4,1,0,74,...,962,10,5.3,57,32,249,8,45.1,7.8,57.31
6,7,Jacksonville Jaguars,3,84,1127,204,5.5,1,0,70,...,610,4,5.5,30,44,391,11,44.7,10.6,47.51
7,8,Miami Dolphins,3,83,1066,167,6.4,2,0,60,...,607,3,5.3,35,34,247,8,53.1,10.2,34.91
8,9,Atlanta Falcons,3,80,1063,181,5.9,7,4,67,...,496,4,3.9,26,25,178,9,40.0,5.5,33.03
9,10,Cincinnati Bengals,3,64,1016,227,4.5,6,2,71,...,823,7,5.1,46,22,169,14,40.4,15.4,34.67
10,11,Las Vegas Raiders,3,64,1040,182,5.7,5,1,62,...,485,6,4.1,23,30,362,12,35.6,15.3,1.07
11,12,Washington Commanders,3,63,1026,216,4.8,5,2,67,...,509,6,4.2,32,23,165,12,39.6,11.3,41.57
12,13,Arizona Cardinals,3,62,1060,222,4.8,1,0,69,...,681,7,5.0,37,40,376,8,30.6,19.4,4.05
13,14,Carolina Panthers,3,62,829,163,5.1,3,2,45,...,414,4,3.9,23,33,234,12,38.0,12.0,39.86
14,15,Los Angeles Rams,3,61,919,175,5.3,7,2,58,...,577,3,4.2,29,28,205,9,37.0,14.8,15.30
15,16,Minnesota Vikings,3,58,1032,187,5.5,4,1,69,...,694,6,4.6,38,33,240,9,30.9,10.9,14.83
16,17,Los Angeles Chargers,3,58,1068,197,5.4,3,1,55,...,459,2,3.3,25,26,186,14,36.8,12.3,9.59
17,18,New York Giants,3,56,995,195,5.1,3,1,59,...,572,5,4.3,40,32,295,6,36.0,6.0,21.28
18,19,Pittsburgh Steelers,3,54,818,174,4.7,3,2,49,...,690,5,4.6,40,26,207,7,35.3,19.6,9.44
19,20,New York Jets,3,52,1110,222,5.0,7,4,63,...,895,7,5.4,51,37,282,13,39.6,7.5,22.41
20,21,Chicago Bears,3,52,795,159,5.0,4,0,43,...,330,2,3.1,20,30,251,11,35.7,8.9,9.66
21,22,Tampa Bay Buccaneers,3,51,892,186,4.8,4,3,50,...,674,3,5.0,39,24,177,7,30.9,12.7,21.74
22,23,New Orleans Saints,3,51,1119,187,6.0,9,4,55,...,514,6,3.7,26,37,331,11,29.6,7.4,2.64
23,24,Tennessee Titans,3,51,907,168,5.4,6,3,50,...,579,3,4.2,28,32,250,7,35.1,3.5,-6.79
24,25,New England Patriots,3,50,1094,183,6.0,8,3,57,...,449,3,4.4,26,28,283,8,32.1,10.7,-38.48
25,26,Houston Texans,3,49,862,184,4.7,3,1,52,...,445,2,3.9,28,32,335,10,22.2,12.7,-15.35
26,27,Green Bay Packers,3,48,1067,188,5.7,5,3,61,...,496,3,4.3,26,30,251,13,31.0,8.6,-14.95
27,28,Seattle Seahawks,3,47,889,165,5.4,5,2,56,...,787,5,4.9,38,27,211,9,36.5,13.5,-5.91
28,29,San Francisco 49ers,3,47,971,189,5.1,5,3,55,...,312,3,3.2,19,17,156,8,31.4,23.5,-19.19
29,30,Dallas Cowboys,3,46,972,184,5.3,2,1,54,...,443,4,3.9,27,30,213,6,26.3,12.3,-25.01
30,31,Denver Broncos,3,43,1044,199,5.2,3,2,54,...,563,2,4.3,26,44,335,8,29.3,10.3,-18.28
31,32,Indianapolis Colts,3,40,994,207,4.8,6,2,61,...,457,1,3.6,26,31,267,6,26.3,19.3,-33.65

3. Which week had the most points scored and which had the least?

## World Population Data

In [15]:
height_weight = pd.read_csv("height_weight_data.csv")
iq_data = pd.read_csv("iq.csv")
pop = pd.read_csv("population_density.csv")
life_expec = pd.read_csv("life_expectancy.csv")
qual_life = pd.read_csv("quality_of_life.csv")

4. Join the height and weight data to the iq data.

In [13]:
pd.merge(height_weight, iq_data, how='left')

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102.0,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84.0,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99.0,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99.0,"3,127",12.5
4,Bosnia and Herzegovina,182,167,87.1,70.6,26.4,25.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
121,Nepal,164,152,60.5,51.6,22.5,22.3,77.0,10,24.8
122,Guatemala,164,151,69.1,61.9,25.7,27.3,NaN,NaN,NaN
123,Yemen,163,154,62.5,56.9,23.6,24.0,NaN,NaN,NaN
124,Laos,162,153,59.5,53.7,22.6,23.0,NaN,NaN,NaN
125,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60.0,30,30.9

5. Join the population density to quality of life data.

In [16]:
pd.merge(pop, qual_life, how='left')

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Macao,30.0,0.66 M,21657.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monaco,2.0,0.04 M,19564.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Singapore,719.0,5.45 M,7584.9,83.0,89.0,79.0,100.0,45.0,55.0,42.0
3,Hong Kong,1110.0,7.41 M,6678.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Gibraltar,6.8,0.03 M,4954.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
86,Finland,338450.0,5.54 M,16.4,85.0,100.0,87.0,93.0,17.0,46.0,32.0
87,Norway,385203.0,5.41 M,14.0,89.0,99.0,90.0,99.0,17.0,42.0,37.0
88,Russia,17098250.0,143.45 M,8.4,47.0,26.0,74.0,75.0,33.0,62.0,43.0
89,Canada,9984670.0,38.25 M,3.8,85.0,92.0,78.0,97.0,33.0,37.0,45.0
90,Australia,7741220.0,25.74 M,3.3,86.0,92.0,87.0,100.0,90.0,23.0,41.0

6. Join the life expectancy to quality of life data.

In [18]:
pd.merge(life_expec, qual_life, how='left')

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77.0,85.0,100.0,97.0,49.0,61.0,52.0
1,Iceland,81.7,84.5,12.3,7.8,82.0,92.0,87.0,97.0,7.0,36.0,33.0
2,Japan,81.6,87.7,6.8,8.8,87.0,86.0,92.0,97.0,54.0,27.0,41.0
3,Norway,81.6,84.9,9.8,9.8,89.0,99.0,90.0,99.0,17.0,42.0,37.0
4,Singapore,81.5,86.1,8.5,10.8,83.0,89.0,79.0,100.0,45.0,55.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...
110,Ivory Coast,56.9,59.5,35.2,9.7,47.0,36.0,11.0,58.0,53.0,57.0,37.0
111,Somalia,56.0,59.4,41.4,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Nigeria,54.1,56.0,37.0,11.4,18.0,24.0,12.0,23.0,54.0,57.0,39.0
113,Chad,53.1,55.9,41.2,11.7,46.0,12.0,0.0,31.0,50.0,49.0,44.0
114,Central Africa,51.5,55.9,34.9,11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [24]:
pd.merge([iq_data, life_expec, qual_life, pop])

TypeError: merge() missing 1 required positional argument: 'right'

8. Make up 1 interesting question about one of these datasets and answer it.

Possible question:
How quality of life and IQ interact. If you have a higher IQ will you have a better quality of life.

9. Make up 1 interesting question about one of these datasets and answer it.

Possible Question:
How do life expectancy and population density effect each other (Is the population effected by life expectancy)

10. Make up 1 interesting question about one of these datasets and answer it.

Possible Question:
Quality of life and life expectancy (if its categorized by men and women)